*{
  padding: 0;
  margin: 0;
box-sizing: border-box
;

}
:root {
--main-color:  #a4edfe;
    --color-heading: #253237;

}
body{
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
background-color: aliceblue;
}
img{
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
color: var(--color-heading);
}
input, button,textarea,select{
  border: none;
  outline: none;
}
.container{
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}
.btn{
  padding: 10px 18px;
  text-transform: capitalize;
  border-radius: 30px;
  cursor: pointer;
 color: #fff;
 display: flex;
 align-items: center;
 transition: 0.3s ;
 width: max-content;
 background-color: #535bf2;
}
.btn:hover{
  scale:1.1;
}
/* toast  */
.toast-suc{
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  max-width: 300px;

}
.toast-suc .t-img{
  width: auto;

  object-fit: cover;
}
.t-img img{
    height: 50px;
}
.toast-suc strong{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}